
<%- contentFor('body') %>
  <div class="flex h-screen" id="main">

    <%- include('../partials/sidebar.ejs') %>

      <!-- Main content -->
      <div class="flex-1 p-10" id="content-role">

        <h1 class="text-left font-semibold text-gray-90 py-5">Role
        </h1>
        <%- include('../partials/dashboard/loading.ejs') %>

        <!-- breadcrumb -->
        <nav class="flex justify-between px-3.5 py-1 border border-neutral-200/60 rounded-md">
          <ol
            class="inline-flex items-center mb-3 space-x-1 text-xs text-neutral-500 [&_.active-breadcrumb]:text-neutral-600 [&_.active-breadcrumb]:font-medium sm:mb-0">
            <li class="flex items-center h-full"><a href="#_" class="py-1 hover:text-neutral-900">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="w-4 h-4 mr-2">
                  <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </a></li>

            <svg class="w-5 h-5 text-gray-400/70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <g fill="none" stroke="none">
                <path d="M10 8.013l4 4-4 4" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </g>
            </svg>

            <li><a
                class="inline-flex items-center py-1 font-normal rounded cursor-default active-breadcrumb focus:outline-none">Role</a>
            </li>
          </ol>
        </nav>

        <!-- role table -->
        <div class="flex flex-col">
          <div class="overflow-x-auto">
            <div class="inline-block min-w-full">
              <div class="overflow-hidden">
                <table class="min-w-full divide-y divide-neutral-200">
                  <thead>
                    <tr class="text-neutral-500">
                      <th class="px-5 py-3 text-xs font-medium text-left uppercase">id</th>
                      <th class="px-5 py-3 text-xs font-medium text-left uppercase">Name</th>
                      <th class="px-5 py-3 text-xs font-medium text-left uppercase">Description</th>
                      <th class="px-5 py-3 text-xs font-medium text-right uppercase">Action</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y divide-neutral-200">
                    <% data.forEach(item=> { %>
                      <tr class="text-neutral-800">
                        <td class="px-5 py-4 text-sm font-medium whitespace-nowrap">
                          <%= item.id %>
                        </td>
                        <td class="px-5 py-4 text-sm whitespace-nowrap">
                          <%= item.name %>
                        </td>

                        <td class="px-5 py-4 text-sm whitespace-nowrap">
                          <%= item.description %>
                        </td>
                        <td class="px-5 py-4 text-sm font-medium text-right whitespace-nowrap">
                          <a class="text-blue-600 hover:text-blue-700" href="#">Edit</a>
                        </td>
                        <% }); %>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- pagination -->
        <div class="flex items-center justify-between w-full h-16 px-3 border-t border-neutral-200 ">
          <div class="flex flex-row">

            <p class="pl-2 text-sm text-gray-700">Showing <span class="font-medium">
                <%= meta.startItems %>
              </span> to <span class="font-medium">
                <%= meta.endItems %>
              </span> of <span class="font-medium">
                <%= meta.totalItems %>
              </span> results
            </p>

            <div class="inline-block relative w-16 ml-4">
              <select
                class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-2 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                name="limit" hx-get="/role" hx-select="#content-role" hx-target="#content-role" hx-indicator=".htmx-indicator" hx-swap="outerHTML" hx-push-url=true>
                <% [10, 25, 50, 100].forEach(function(value) { %>
                  <option value="<%= value %>" <%= meta.itemsPerPage == value ? 'selected' : '' %>><%= value %></option>
                <% }); %>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                </svg>
              </div>
            </div>
          </div>


          <nav>
            <ul
              class="flex items-center text-sm leading-tight bg-white border divide-x rounded h-9 text-neutral-500 divide-neutral-200 border-neutral-200">
              <% if (meta.currentPage > 1) { %>
                <li class="h-full">
                  <a href="?page=<%= meta.currentPage - 1 %>&limit=<%= meta.itemsPerPage %>"
                    class="relative inline-flex items-center h-full px-3 ml-0 rounded-l group hover:text-neutral-900">
                    <span>Previous</span>
                  </a>
                </li>
              <% } %>

              <% meta.pagination.forEach(function(page) { %>
                <% if (page === '...') { %>
                  <span>...</span>
                <% } else { %>
                  <li class="hidden h-full md:block">
                    <a href="?page=<%= page %>&limit=<%= meta.itemsPerPage %>" class="relative inline-flex items-center h-full px-3 group hover:text-neutral-900"
                      <%= page == meta.currentPage ? 'class="active"' : '' %>
                      >
                      <span> <%= page %></span>
                      <span
                        class="box-content absolute bottom-0 w-0 h-px -mx-px duration-200 ease-out translate-y-px border-transparent bg-neutral-900 group-hover:border-l group-hover:border-r group-hover:border-neutral-900 left-1/2 group-hover:left-0 group-hover:w-full"></span>
                    </a>
                  </li>
                <% } %>
              <% }); %>


              <% if (meta.currentPage < meta.totalPages) { %>
                <li class="h-full">
                <a href="?page=<%= meta.currentPage + 1 %>&limit=<%= meta.itemsPerPage %>" class="relative inline-flex items-center h-full px-3 rounded-r group hover:text-neutral-900">
                <span>Next</span>
              </a>
            </li>
              <% } %>
            </ul>
          </nav>
        </div>
      </div>

  </div>